# compiled output
server/dist
server/node_modules
server/build

# dotenv environment variable files
server/.env

# compiled output
client/dist
client/node_modules
client/build

client/.env
client/dist
client/dist-ssr
client/*.local
client/.env
client/.env